
//buttons color
@btn-default-bg-color:      lighten(@toolbar-background-color,4%);

// dropdowns color
@dropdown-default-bg-color:#f07746;

@accent-primary:            #f07746;
@accent-primary-dark:       darken(#f07746, 1%);

@border-secondary-bg:   lighten(@background-secondary, 10%);

// @border-tertiary-bg:    lighten(@background-tertiary, 10%);
// @border-color-divider:  @border-secondary-bg;

//input bg like search in main window
// @input-bg:              darken(@background-secondary,20%);
// @input-border:          @border-color-divider;

//main list background
// @list-bg:               #FF1E00;
// @list-border:           #383838;

// @list-selected-color:   @text-color-inverse;

@toolbar-background-color: #41403b;


.sheet-toolbar .btn-toolbar img.content-mask {
    background-color: rgb(246, 246, 246);
}

.layout-mode-popout .sheet-toolbar {
display: none;
}

.sheet-toolbar-container {
  background-image: -webkit-linear-gradient(top,@toolbar-background-color, darken(@toolbar-background-color,5%));
    box-shadow: none;

}
